.header{
  position:fixed;
  top:0;
  left: 0;
  width: 1720px;
  height: 60px;
  background-color: #ffffffaa;
}
ul{
  list-style: none;
  margin:0;
}
a{
  text-decoration: none;
  color:black;
}
li{
  text-align: center;
  display: inline-block;
}